<!DOCTYPE html>
<html lang="en">
  <head>
    <!--meta info-->
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Story Creater</title>
  </head>
  <body>
    <h1>hello orld</h1>
  </body>
</html>